.vscode/**
.vscode-test/**
src/**
tests/**
docs/**
claude-rules/**
.claude/**
.gitignore
.git/**
.DS_Store
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/*.log
**/*.vsix
CLAUDE.md